<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="{{location}}/studio/static/common/css/ui/framework/bootstrap.css">
      <link rel="stylesheet" href="{{location}}/studio/static/common/js/ui/thirdparty/formbuilder/formbuilder.css">
      <link rel="stylesheet" href="{{location}}/studio/static/common/js/ui/thirdparty/spectrum/spectrum.css">
      <link rel="stylesheet" href="{{location}}/studio/static/common/css/ui/framework/datetimepicker.css">
      <link rel="stylesheet" href="{{location}}/studio/static/common/css/ui/framework/bootstrap-datepicker.css">
      <link rel="stylesheet" href="{{location}}/studio/static/common/css/ui/framework/select2/select2.css">


      <link rel="stylesheet" href="{{location}}/studio/static/themes/default/css/theme.css" type="text/css">

      <link rel="stylesheet" href="{{location}}/studio/static/themes/default/css/font-awesome.css" type="text/css">
      <link rel="stylesheet" href="{{location}}/studio/static/themes/default/css/forms.css" type="text/css">

      <script type="text/javascript" src="{{location}}/studio/static/common/js/ui/thirdparty/jquery/jquery.js"></script>
      <script type="text/javascript" src="{{location}}/studio/static/common/js/ui/thirdparty/bootstrap/bootstrap.js"></script>


  </head>
  <body>
    #content#
  </body>
</html>